<div class="capsule-form-success">
  <div class="success-icon">
    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
      <polyline points="22 4 12 14.01 9 11.01"></polyline>
    </svg>
  </div>
  <h3><%= t('time_capsules.success.title') %></h3>
  <p><%= t('time_capsules.success.message') %></p>
  <button type="button" class="capsule-another-btn" onclick="location.reload()">
    <%= t('time_capsules.success.another') %>
  </button>
</div>
