<% content_for :title, "Cambodia Postal Code Search" %>

<div class="search-section">
  <h1 class="title">Cambodia Postal Code</h1>

  <%= form_with url: search_path, method: :get, data: { controller: "search", turbo_frame: "results" } do |f| %>
    <div class="search-box">
      <input
        type="search"
        name="q"
        value="<%= @query %>"
        placeholder="Search by postal code, province, district, commune..."
        class="search-input"
        autocomplete="off"
        autofocus
        data-search-target="input"
        data-action="input->search#search"
      >
      <button type="submit" class="search-btn">
        Search
      </button>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "results" do %>
  <%= render partial: "results", locals: { results: @results, query: @query } %>
<% end %>
